/* Tag selector to select the 'body' element */
body {
  background-color: #00b3e6; /* Setting background color */
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  width: 700px; /* Setting width */
  margin: auto; /* Setting margin */
  font-family: 'Helvetica Neue'; /* Setting font family */
  background-color: white; /* Setting background color */
  padding: 30px; /* Setting padding */
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  font-size: 22px; /* Setting font size */
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  font-style: italic; /* Setting font style */
}